torch>=2.0.0
torchaudio>=2.0.0
pyyaml
tqdm
numpy
datasets
transformers
torchcodec 
soundfile
tiktoken
librosa
sox
onnxruntime
flash-attn
tensorboard
# apt-get update && apt-get install -y sox libsox-fmt-all